name: Validation Tests

on: 
  pull_request:
  workflow_dispatch:

jobs:
  syntax-validation:
    name: Syntax Validation
    runs-on: windows-latest
    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install AutoHotkey V2
        uses: holy-tao/install-autohotkey@v1
        with:
          version: v2.0.19
          
      - name: Enable AHK validator problem matcher
        run: echo "::add-matcher::.github/problem-matchers/ahk.json"

      - name: Validate Changed .ahk Files
        shell: pwsh
        run: |
          git fetch origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}

          $changed = @(git diff --name-only origin/${{ github.base_ref }} ${{ github.sha }} | Where-Object { $_ -like "*.ahk" })

          if ($changed) {
            Write-Output "Found changed AHK files:"

            ./Tests/ValidateAhkFiles.ps1 -AhkExePath "$PWD/autohotkey/AutoHotkey64.exe" -Files $changed 2>&1 | Tee-Object -FilePath Tests/validation.log
          }
          else {
            Write-Output "No changed AHK files to validate."
            exit 0
          }

          Write-Output "Done! Generating summary report..."
          ./Tests/AhkValidationMarkdownReport.ps1 -LogPath Tests/validation.log -OutPath Tests/validation-results.md
          Write-Output "Done!"

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Validation Results
          path: |
            Tests/validation.log
            Tests/validation-results.md

  unit-tests:
    name: Unit Tests
    runs-on: windows-latest
    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install AutoHotkey V2
        uses: holy-tao/install-autohotkey@v1
        with:
          version: v2.0.19
      
      - name: Run Unit Tests
        working-directory: Tests
        shell: powershell
        run: AutoHotkey64.exe /ErrorStdOut RunTests.ahk

      - name: Publish Test Results
        if: always()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: Tests/junit.xml
          token: ${{ secrets.GITHUB_TOKEN }}
