name: Validation Tests

on: 
  pull_request:
  workflow_dispatch:

jobs:
  syntax-validation:
    name: Syntax Validation
    runs-on: windows-latest
    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install AutoHotkey V2
        shell: pwsh
        env:
            url: https://github.com/AutoHotkey/AutoHotkey/releases/download/v2.0.19/AutoHotkey_2.0.19.zip
        run: |
          $cwd = (Get-Item .).FullName
          Invoke-WebRequest "$env:url" -OutFile "$cwd\autohotkey.zip"
          Expand-Archive -Path "$cwd\autohotkey.zip" -DestinationPath "$cwd\autohotkey" -Force
          Remove-Item -Path "$cwd\autohotkey.zip" -Force -ErrorAction SilentlyContinue

          Write-Output ("$cwd\autohotkey;" + "$cwd\autohotkey\Compiler") | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          
      - name: Enable AHK validator problem matcher
        run: echo "::add-matcher::.github/problem-matchers/ahk.json"

      - name: Validate Changed .ahk Files
        shell: pwsh
        run: |
          git fetch origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}

          $changed = @(git diff --name-only origin/${{ github.base_ref }} ${{ github.sha }} | Where-Object { $_ -like "*.ahk" })

          if ($changed) {
            Write-Output "Found changed AHK files:"

            ./Tests/ValidateAhkFiles.ps1 -AhkExePath "$PWD/autohotkey/AutoHotkey64.exe" -Files $changed 2>&1 | Tee-Object -FilePath Tests/validation.log
          }
          else {
            Write-Output "No changed AHK files to validate."
            exit 0
          }

          Write-Output "Done! Generating summary report..."
          ./Tests/AhkValidationMarkdownReport.ps1 -LogPath Tests/validation.log -OutPath Tests/validation-results.md
          Write-Output "Done!"

  unit-tests:
    name: Unit Tests
    runs-on: windows-latest
    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install AutoHotkey V2
        shell: pwsh
        env:
            url: https://github.com/AutoHotkey/AutoHotkey/releases/download/v2.0.19/AutoHotkey_2.0.19.zip
        run: |
          $cwd = (Get-Item .).FullName
          Invoke-WebRequest "$env:url" -OutFile "$cwd\autohotkey.zip"
          Expand-Archive -Path "$cwd\autohotkey.zip" -DestinationPath "$cwd\autohotkey" -Force
          Remove-Item -Path "$cwd\autohotkey.zip" -Force -ErrorAction SilentlyContinue

          Write-Output ("$cwd\autohotkey;" + "$cwd\autohotkey\Compiler") | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      
      - name: Run Unit Tests
        working-directory: Tests
        shell: powershell
        run: AutoHotkey64.exe /ErrorStdOut RunTests.ahk

      - name: Publish Test Results
        if: always()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: Tests/junit.xml
          token: ${{ secrets.GITHUB_TOKEN }}